<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="AppID" value="168120" />
  <!--Rfid 串口-->
  <add key="RfidCom" value="COM3" />
  <!--R2000 Rfid-4天线版配置,范围(1..8),输出功率, 范围(0..33)-->
  <add key="RfidAntPower" value="1:20,2:0,3:0,4:0" />
  <!--波特率-->
  <add key="Baudrate" value="115200" />
  

  <!--md5加密秘钥-->
  <add key="SecretKey" value="4ivw2UKrKwoPmIYHAFLU43eEQPGGLuGY" />
  <!--请求超时，单位（秒）-->
  <add key="RequestTimeout" value="120" />
  <!--本机监听地址-->
  <add key="RequestUrl" value="http://127.0.0.1:8620/" />
  <!--日志目录-->
  <add key="log4net.Config" value="Config/log4net.config"/>
</appSettings>