<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="AppID" value="178002" />
  <add key="User" value="admin" /> 
  <!--日志目录-->
  <add key="log4net.Config" value="Config/log4net.config"/>
  <!--打印机名称-->
  <add key="PrinterName" value="ZDesigner ZT231R-300dpi ZPL"/>
  <!--发送RFID信息至客户端的间隔时间-->
  <add key="Interval" value="3000"/>
  <add key="WebScoketAddress" value="ws://localhost:5000"/>
  <!--模板类型 1：逆转标签模板 2：普通标签模板-->
  <add key="ModuleType" value="2"/>
</appSettings>